.App {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--on-surface-color);
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  --bg-color: #010101;
  --surface-bg-color: #121212;
  --focused-bg-color: #232323;
  --primary-color: #598ca6;
  --variant-primary: #274959;
  --secondary-color: #a66a70;
  --on-surface-color: #ffffff;
  --on-primary-secondary: #000000;
  --border-r: 8px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
