.nav {
  background-color: var(--surface-bg-color);
  padding: 0.2rem;
  margin-bottom: 3rem;
}
.ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  gap: 1.8rem;
  justify-content: center;
}

.li {
  padding: 1rem 1.5rem;
  margin: 0.5rem;
}

.li :focus {
  border: 1px solid var(--primary-color);
  outline: none;
}
