.form {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--variant-primary);
  align-items: center;
  justify-content: center;
  background-color: var(--surface-bg-color);
  max-width: 850px;
  padding: 2rem;
  border-radius: var(--border-r);
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
}
